<div class="container gray">
  <article class="collapse">
    <header class="collapse-header">
      <h2 class="title mark">Todas coberturas</h2>
    </header>
    <h3 class="subtitle">Morte acidental ou natural</h3>
    <p class="description">
      Os beneficiários declarados no Seguro de Vida recebem o valor contratado na apólice no caso do falecimento do segurado. Esse valor pode ser de até 120 vezes o salário do segurado, para segurados entre 16 e 50 anos.
    </p>
  </article>
  <article class="collapse">
    <h3 class="subtitle">Invalidez permanente total ou parcial por acidente</h3>
    <p class="description">
      Essa cobertura garante ao segurado a indenização em caso de perda, redução ou impotência funcional definitiva, seja ela total ou parcial causada por acidente.
    </p>
  </article>
  <article class="collapse">
    <h3 class="subtitle">Reembolso com despesas médicas</h3>
    <p class="description">
      O segurado garante que as despesas médicas referentes ao acidente ocorrido e coberto pela apólice sejam reembolsadas.
    </p>
  </article>
</div>