<div class="container">
  <article class="collapse">
    <header class="collapse-header">
      <h2 class="title">Diferenciais entre <strong>planos</strong></h2>
      <p class="info">Escolha o plano que preferir de acordo com suas necessidades.</p>
    </header>
    <h3 class="subtitle">Suporte para marcação de exames especiais</h3>
    <p class="description">
      Precisa agendar um exame que exige autorização prévia? Com esse plano você tem acesso a Central de Atendimento que retorna em até 24 horas úteis após o recebimento do exame por meio da URA ou Portal do Cliente.
    </p>
  </article>
  <article class="collapse">
    <h3 class="subtitle">Coleta domiciliar de coleta de sangue</h3>
    <p class="description">
      Serviço prestado pelas redes Fleury e CDB Premium e abrange a Grande São Paulo. Mora em outra região? Não se preocupe, com esse plano você poderá solicitar o reembolso entrando em contato na Central de Atendimento.
    </p>
  </article>
  <article class="collapse">
    <h3 class="subtitle">Reembolso para consultas e exames simples em até 48hs</h3>
    <p class="description">
      Caso tenha realizado exames simples ou consultas fora da rede credenciada do seu plano, com esse diferencial você recebe o reembolso referente ao procedimento realizado em até 48 horas úteis.
    </p>
  </article>
  <article class="collapse">
    <h3 class="subtitle">Rede de descontos</h3>
    <p class="description">
      Ampla rede de farmácias e drogarias distribuídas por todo o País disponibiliza até 60% de desconto em medicamentos para cliente Porto Seguro Saúde e Odontológico.
    </p>
  </article>
</div>