<div class="container gray">
  <article class="collapse">
    <header class="collapse-header">
      <h2 class="title mark">Coberturas básicas</h2>
    </header>
    <h3 class="subtitle">Consultas, internações e emergência</h3>
    <p class="description">
      Com preços acessíveis, você consegue contratar um Seguro Saúde Empresarial a partir de 5 vidas. São hospitais, laboratórios e consultórios médicos a sua disposição em horários flexíveis e diferencial de pronto atendimento.
    </p>
  </article>
</div>