<div class="container gray">
  <article class="collapse">
    <header class="collapse-header">
      <h2 class="title mark">Coberturas <strong>básicas</strong></h2>
    </header>
    <h3 class="subtitle">Proteção para colisão, incêndio roubo ou furto</h3>
    <p class="description">
      Bater o carro já é um problemão, roubo e incêndio nem se fala! Essa cobertura garante que em caso de <a href="#" class="link perda" title="perda total">perda total</a>, você receberá o valor integral do seu veículo (de acordo com a <a href="#" class="link fipe" title="Tabela Fipe">Tabela Fipe</a>), para batidas ou danos menores, você receberá o valor do reparo se esse for menor que a franquia contratada.
    </p>
  </article>
  <article class="collapse">
    <h3 class="subtitle">Alagamentos, granizos, inundação e ventos fortes</h3>
    <p class="description">
      Deixou o carro parado e de repente caiu a maior chuva? Essa cobertura também garante que se seu carro for danificado por algum desses eventos da natureza e der PT, você também recebe o valor integral do seu veículo (de acordo com a <a href="#" class="link fipe" title="Tabela Fipe">Tabela Fipe</a>).
    </p>
  </article>
</div>