<div class="container gray">
  <article class="collapse">
    <header class="collapse-header">
      <h2 class="title mark">Todas coberturas</h2>
    </header>
    <h3 class="subtitle">Atraso ou cancelamento de vôo</h3>
    <p class="description">
      Viajar tem que ser para relaxar! Mas e quando imprevistos como atraso ou cancelamento de voô acontecem? Não se preocupe! Essa cobertura garante que você tenha reembolsos referentes a custos com refeições, transporte e hospedagem se algo que não estava planejado acontecer.
    </p>
  </article>
  <article class="collapse">
    <h3 class="subtitle">Atraso, rastreamento, perda ou extravio de bagagem</h3>
    <p class="description">
      Voltou de viagem mas a mala não voltou junto? Essa cobertura garante todo auxílio necessário para acompanhar o rastreamento da sua bagagem e até receber indenização gastos com itens de primeira necessidades que estavam na mala que sumiu. E fique tranquilo, tem atendimento da Central 24 horas à sua disposição em português de onde você estiver.
    </p>
  </article>
  <article class="collapse">
    <h3 class="subtitle">Reembolso com despesas médicas e farmacêuticas</h3>
    <p class="description">
      Tem serviço 24 horas também à sua disposição com assistência médica e odontológico, incluindo remoção inter-hospital entre outros. Essa cobertura também garante ajuda na hospedagem em sua pós-alta hospitalar. Caso ocorra um imprevisto de doença ou acidente, há repatriação médica, procedimento que garante o seu retorno ao país de residência.
    </p>
  </article>
</div>