<footer class="footer">
  <section class="contact">
    <ul class="list">
      <li class="item heading">Contato:</li>
      <li class="item">(11) 4787-8648</li>
      <li class="item">(11) 9 9995-0587</li>
    </ul>
    <a href="quem-somos.html#anchor" title="Fale conosco" class="transparent">Fale conosco</a>
  </section>
  <hr class="divisor">
  <section class="links">
    <ul class="insurances">
      <li class="title">Seguros oferecidos</li>
      <li class="item">
        <a href="seguro-automovel.html" class="link" title="Seguro de Carro">Seguro de Carro</a>
      </li>
      <li class="item">
        <a href="seguro-eletronicos.html" class="link" title="Seguro Eletrônico">Seguro Eletrônico</a>
      </li>
      <li class="item">
        <a href="seguro-saude.html" class="link" title="Seguro Saúde">Seguro Saúde</a>
      </li>
      <li class="item">
        <a href="seguro-residencial.html" class="link" title="Seguro Residencial">Seguro Residêncial</a>
      </li>
      <li class="item">
        <a href="seguro-viagem.html" class="link" title="Seguro Viagem">Seguro Viagem</a>
      </li>
      <li class="item">
        <a href="seguro-moto.html" class="link" title="Seguro de Moto">Seguro de Moto</a>
      </li>
      <li class="item">
        <a href="seguro-de-vida.html" class="link" title="Seguro de Vida">Seguro de Vida</a>
      </li>
    </ul>
    <ul class="about">
      <li class="title" title="Sobre nós">Sobre nós</li>
      <li class="item">
        <a href="quem-somos.html" class="link" title="Quem somos">Quem somos</a>
      </li>
      <li class="item">
        <a href="quem-somos.html#anchor" class="link" title="Fale conosco">Fale conosco</a>
      </li>
    </ul>
  </section>
</footer>
{% include javascripts-include.html %}
