<section class="generic-box">
  <div class="container">
    <h2 class="title">Depoimento dos <strong>nossos clientes</strong></h2>
    <blockquote class="testimonial">
      <p>“São muitos anos com competência, velocidade e profissionalismo, sempre utilizando sua vasta experiência em seguros para oferecer a melhor solução para seus clientes.”</p>
      <span class="author">Fábio Assis</span>
    </blockquote>
    <blockquote class="testimonial">
      <p>“Segurança e confiança, pois sei que se vier acontecer algum sinistro, posso contar com toda a assistência e assessoria necessária para resolver as questões burocráticas de um seguro.”</p>
      <span class="author">Antônio Carlos G. Franca</span>
    </blockquote>
    <blockquote class="testimonial">
      <p>“Sempre tive um excelente atendimento com a corretora do Teófilo. Boas opções de seguradoras, atendimento profissional e total orientação ao segurado. Recomendo seu serviço.”</p>
      <span class="author">Henrique Bellini</span>
    </blockquote>
    <a href="#" class="link" id="moreTestimonial" title="Ver todos depoimentos">Ver todos depoimentos</a>
  </div>
</section>