<section class="insurance-list">
  <h3 class="title">Escolha o <strong>tipo de seguro</strong> que deseja cotar:</h3>
  <ul class="list first">
    <a href="seguro-automovel.html" class="item car" title="Seguro Automóvel"><li>Seguro Automóvel</li></a>
    <a href="seguro-eletronicos.html" class="item eletronic" title="Seguro Eletrônicos"><li>Seguro Eletrônicos</li></a>
    <a href="seguro-viagem.html" class="item trip" title="Seguro Viagem"><li>Seguro Viagem</li></a>
    <a href="seguro-empresarial.html" class="item business" title="Seguro Empresarial"><li>Seguro Empresarial</li></a>
  </ul>
  <ul class="list second">
    <a href="seguro-moto.html" class="item bike" title="Seguro Moto"><li>Seguro Moto</li></a>
    <a href="seguro-residencial.html" class="item home" title="Seguro Residência"><li>Seguro Residência</li></a>
    <a href="seguro-saude.html" class="item health" title="Seguro Saúde"><li>Seguro Saúde</li></a>
    <a href="seguro-de-vida.html" class="item life" title="Seguro de Vida"><li>Seguro de Vida</li></a>
  </ul>
  <div class="clearfix"></div>
</section>