<nav class="menu -hide">
  <ul class="links">
    <a href="cotacao.html" title="Cotação Grátis"><li class="heading">Cotação Grátis</li></a>
    <a href="seguro-automovel.html"><li class="item">Seguro de Automóvel</li></a>
    <a href="seguro-moto.html"><li class="item">Seguro de Moto</li></a>
    <a href="seguro-eletronicos.html"><li class="item">Seguro de Eletrônicos</li></a>
    <a href="seguro-residencial.html"><li class="item">Seguro de Residência</li></a>
    <a href="seguro-viagem.html"><li class="item">Seguro Viagem</li></a>
    <a href="seguro-saude.html"><li class="item">Seguro Saúde</li></a>
    <a href="seguro-empresarial.html"><li class="item">Seguro Empresarial</li></a>
    <a href="seguro-de-vida.html"><li class="item">Seguro de Vida</li></a>
    <a href="quem-somos.html"><li class="item">Quem Somos</li></a>
    <a href="quem-somos.html#fale"><li class="item">Fale Conosco</li></a>
  </ul>
</nav>