<section class="slider">
  <h2 class="title">Trabalhamos com as <strong>melhores seguradoras</strong>:</h2>
  <div class="slider-container">
    <div class="slides">
      <figure class="slide logo">
        <img class="image" src="/img/porto-seguro.jpg" width="57" height="75" alt="Logo Porto Seguro">
        <figcaption class="description">
          <p>A Porto Seguro é uma das maiores seguradoras do Brasil. Se destaca ainda por apresentar diferenciais no Porto Seguro Auto como assistência a fogão, geladeira e instalação de prateleiras.</p>
        </figcaption>
      </figure><!--
      --><figure class="slide logo">
        <img class="image" src="/img/sompo.jpg" width="89" height="87" alt="Logo Sompo Seguros">
        <figcaption class="description">
          <p>A Sompo Seguros é uma empresa do Grupo Sompo Holdings, um dos maiores grupos seguradores do mundo, fundado no Japão há mais de 128 anos.</p>
        </figcaption>
      </figure><!--
      --><figure class="slide logo">
        <img class="image" src="/img/tokiomarine.jpg" width="113" height="85" alt="Logo Tokiomarine">
        <figcaption class="description">
          <p>É uma das 10 maiores Seguradoras do mercado brasileiro e presta serviços para mais de 20 mil Corretores e Assessorias, o que garante o melhor atendimento em todo o território nacional.</p>
        </figcaption>
      </figure><!--
      --><figure class="slide logo">
        <img class="image" src="/img/sulamerica.jpg" width="155" height="83" alt="Logo Sulamérica">
        <figcaption class="description">
          <p>É o maior grupo segurador independente do País. São mais de 7 milhões de clientes e uma relação baseada em transparência, ética e comprometimento com a sustentabilidade.</p>
        </figcaption>
      </figure><!--
      --><figure class="slide logo">
        <img class="image" src="/img/hdi.jpg" width="104" height="87" alt="Logo HDI Seguros">
        <figcaption class="description">
          <p>Há 36 anos oferecendo serviços de qualidade. Sua a marca registrada é o HDI Bate-Pronto, um sistema de atendimento de sinistros extremamente ágil e focado na eficiência.</p>
        </figcaption>
      </figure><!--
      --><figure class="slide logo">
        <img class="image" src="/img/itau.jpg" width="171" height="73" alt="Logo Itaú Seguros">
        <figcaption class="description">
          <p>O Itaú Seguros é uma opção prática e completa de seguro, oferecendo opções para diversas fases da sua vida: seguro de vida, seguro viagem, seguro auto, seguro residencial e muitos outros.</p>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="bullets">
  </div>
</section>