.footer
  background-color $primary
  padding 30px 15px

  @media (min-width 800px)
    margin 0 auto
    max-width 1030px

  > .contact

    > .list
      color $white
      float left
      line-height 1.47
      padding-bottom 20px

      > .item
        font-size pxToEm(15)
        font-weight 700
        letter-spacing -0.3px
        list-style none

      > .heading
        font-size pxToEm(13)
        font-weight 300

    > .transparent
      float right
      font-size pxToEm(12)
      vertical-align 30px

  > .links
    margin-top 20px

    > .insurances, > .about
      color $white
      display inline-block
      float right
      line-height 1.67
      list-style none
      padding-bottom 20px
      vertical-align top

      @media (min-width 800px)
        float none
        display block

      > .title
        @media (min-width 800px)
          display block

      > .item
        @media (min-width 800px)
          display inline-block

      > .item + .item
        &:before
          @media (min-width 800px)
            color $second
            content '·'
            display inline-block
            margin-right 4px

    > .insurances
      float left

      @media (min-width 800px)
        float none
        display block