.form
  background-color $gray-50
  text-align center

  > .container
    max-width 585px
    padding 35px 15px 60px

    > .contact
      border 0
      padding 0
      text-align left

      > .label, > .input
        display block
        font-size pxToEm(14)
        font-weight 300
        position relative

      > .label
        margin-bottom 5px

      > .input
        background-color $white
        border-radius(2px)
        border 1px solid $gray-150
        height 40px
        padding 12px 10px
        margin-bottom 20px
        max-width 555px
        width 100%
        -webkit-appearance: none
        -moz-appearance: none
        -ms-appearance: none
        -o-appearance: none
        appearance: none

        &:invalid
          color $gray-200

        &.error
          border 1px solid $error

      > .input::-ms-expand
        display none

      > .select
        &:after
          background-color $white
          background-image url('../img/more.svg')
          background-repeat no-repeat
          background-position center center
          content ''
          display block
          height 24px
          position absolute
          right 6px
          top 30px
          transform(rotate(180deg))
          width 24px
          z-index 1

      > .textarea
        min-height 130px
        margin-bottom 60px

    > .submit
      @media (min-width 800px)
        margin 40px auto 0