.more-info
  background-color $primary-450
  color $white
  font-size pxToEm(14)
  line-height 1.5

  @media (min-width 800px)
    font-size pxToEm(16)

  > .container
    padding 15px

    @media (min-width 800px)
      padding 25px 15px