.slider
  background-color $white
  padding 30px 5px
  position relative
  overflow hidden
  text-align center
  white-space nowrap

  @media(min-width 800px)
    padding 60px 15px

  > .title
    color $gray
    font-size pxToEm(18)
    font-weight 300
    white-space normal

    @media(min-width 800px)
      font-size pxToEm(22)
      width 300px
      margin 0 auto

    &:after
      background-color $delta
      content ''
      display block
      margin 15px auto 0
      height 4px
      width 42px

  > .slider-container
    margin: 0 auto;
    max-width: 725px;
    overflow: hidden;