$primary-400 = #5376a1
$primary-450 = #466387
$primary = #3b5473

$second = #ef9f99
$second-600 = #ed7e75

$white = #fff

$delta = #0ba5b9
$delta-600 = #6cadb5

// Grays
$gray-0 = #F0F1F4
$gray-50 = #f9f9f9
$gray-100 = #D6D6D6
$gray-150 = #CECECE
$gray-200 = #A4A4A4
$gray = #7d7d7d

$error = #d28681