body
  color $gray
  background-color $primary

strong
  font-weight 500

.clearfix
  clear both

.link
  color $second
  font-weight 500

.divisor
  clear both
  color $gray

.container
  margin 0 auto
  @media (min-width 800px)
    max-width 1030px