<div class="container">
  <article class="collapse">
    <header class="collapse-header">
      <h2 class="title mark">Coberturas básicas</h2>
    </header>
    <h3 class="subtitle">Danos físicos ao bem</h3>
    <p class="description">
      A tentativa de roubo resultou numa tela quebrada? Ou mesmo sofreu o impacto em um acidente de carro? Com essa cobertura você define a <a href="#" class="link franquia" title="franquia">franquia</a> e o quanto vai receber em casos como esse.
    </p>
  </article>
</div>