<div class="container">
  <article class="collapse">
    <header class="collapse-header">
      <h2 class="title">Coberturas adicionais</h2>
      <p class="info">Monte o seguro como preferir, incluindo por exemplo coberturas adicionais que vão garantir mais tranquilidade a qualquer momento.</p>
    </header>
    <h3 class="subtitle">Danos por água/líquido</h3>
    <p class="description">
      Essa cobertura adicional garante o ressarcimento por danos materiais causados ao equipamento por conta de danos de origem acidental e involuntária.
    </p>
  </article>
  <article class="collapse">
    <h3 class="subtitle">Subtração de bem</h3>
    <p class="description">
      Estava indo para o trabalho e te abordaram para levar o celular? Fique calmo, essa cobertura garante o ressarcimento para roubos qualificados (com ameaça direta ou rompimento de obstáculo).
    </p>
  </article>
  <article class="collapse">
    <h3 class="subtitle">Garantia internacional</h3>
    <p class="description">
      Vai viajar e quer continuar tranquilo? Você pode adicionar a cobertura internacional e ter extensão de garantias contratadas para <a href="#" class="link sinistro" title="sinistros">sinistros</a> ocorridos fora do Brasil.
    </p>
  </article>
  <article class="collapse">
    <h3 class="subtitle">Danos elétricos</h3>
    <p class="description">
      Época de chuvas é sempre complicado: muita oscilação de energia e descargas elétricas. Mas com essa cobertura você garante o ressarcimento aos danos causados por queda de raio e curtos circuitos.
    </p>
  </article>
</div>