<div class="container">
  <article class="collapse">
    <header class="collapse-header">
      <h2 class="title">Coberturas adicionais</h2>
      <p class="info">Monte o seguro como preferir, incluindo por exemplo coberturas adicionais que vão garantir mais tranquilidade a qualquer momento.</p>
    </header>
    <h3 class="subtitle">Impacto de veículos e aeronaves</h3>
    <p class="description">
      Tem coisas na vida que é impossível de prever, essa cobertura garante que se sua casa for danificada por impacto de veículos ou aeronaves, você será ressarcido de acordo com os danos causados e o valor contratado.
    </p>
  </article>
  <article class="collapse">
    <h3 class="subtitle">Danos elétricos</h3>
    <p class="description">
      Essa cobertura garante a cobertura aos bens que forem danificados por um acidente elétrico. Você será ressarcido de acordo com os danos causados e o valor contratado.
    </p>
  </article>
  <article class="collapse">
    <h3 class="subtitle">Roubos</h3>
    <p class="description">
      Em caso de roubos com sinal de ameaça ou quebra de barreira, essa cobertura garante o ressarcimento dos valores referentes aos bens subtraídos e declarados na contratação do seguro.
    </p>
  </article>
  <article class="collapse">
    <h3 class="subtitle">Desmoronamento</h3>
    <p class="description">
      Com essa cobertura em casos de desmoronamento você é ressarcido de acordo com os danos causados e o valor contratado.
    </p>
  </article>
</div>