<section class="generic-left">
  <div class="container">
    <h2 class="title">Serviços <strong>adicionais</strong></h2>
    <p class="description">Você pode também adicionar ao seu seguro serviços que podem te ajudar no seu dia a dia. Como esses:</p>
    <ul class="standard-list">
      <li class="item">· Assistência 24 horas</li>
      <li class="item">· Chaveiro</li>
      <li class="item">· Moto reserva</li>
      <li class="item">· Assistência para faróis, lanternas e retrovisores</li>
    </ul>
  </div>
</section>