<div class="container">
  <article class="collapse">
    <header class="collapse-header">
      <h2 class="title">Coberturas adicionais</h2>
      <p class="info">Monte o seguro como preferir, incluindo por exemplo coberturas adicionais que vão garantir mais tranquilidade a qualquer momento.</p>
    </header>
    <h3 class="subtitle">Danos corporais a terceiros</h3>
    <p class="description">
      Sofreu um acidente e as pessoas envolvidas tiveram ferimentos? Essa cobertura garante o pagamento para as despesas decorrentes desse acidente. Você escolhe o valor da indenização.
    </p>
  </article>
  <article class="collapse">
    <h3 class="subtitle">Danos materiais a terceiros</h3>
    <p class="description">
      Essa cobertura garante a cobertura aos bens das pessoas envolvidas no acidente que foram danificados (como reparos e reposições).
    </p>
  </article>
  <article class="collapse">
    <h3 class="subtitle">Acidente de passageiros</h3>
    <p class="description">
      Essa cobertura garante indenizações por morte e/ou invalidez permanente, parcial ou total ao passageiro que estava com você durante o acidente.
    </p>
  </article>
</div>