.btn-ok
  background-color $white
  border 2px solid $second
  border-radius(100px)
  color $second
  cursor pointer
  font-size pxToEm(14)
  font-weight 700
  padding 12px
  text-transform uppercase
  transition(color 0.3s\, background-color 0.3s)
  width 170px

  &:hover
    background-color $second
    color $white
    transition(color 0.3s\, background-color 0.3s)
