.transparent
  background-color transparent
  border 1px solid $white
  border-radius(100px)
  color $white
  cursor pointer
  font-weight 500
  min-width 120px
  padding 12px 0
  text-align center
  text-transform uppercase
  transition(background-color 0.3s\, color 0.3s)

  &:hover, &:active, &:focus
    background-color $white
    color $primary